
.navbarback{
  background:   linear-gradient(to right, #E2E2E2, #C9D6FF)
 
}

.toggled{
  background-color: #97adbb !important;
  color:white
}

.error{
  color:red
}

.form{
  background-color: whitesmoke;
  border-radius: 10px;
}

.list{
  list-style: none;
}

.unicorn{
  background: #e2e7ee;
  
}
.icon{
  color: #F60C94;
  font-size: 20px;
}

.today{
  font-weight: 600;
}